		
		
			.fl{
				float: left;
			}
			.fr{
				float: right;
			}
			#head{
				width: 990px;
				height: 60px;
				padding: 19px;
				margin: 0 auto;
			}
			.help{
				height: 18px;
				width: 307px;
				line-height: 18px;
				margin-top: 15px;
			}
			.help ul .help-1{
				float: left;
				margin-right: 35px;
				cursor: pointer;
			}
			.help ul .help-1 a{
				padding-left:5px;
				margin-right: 18px;
			}
			.help ul .help-2{
				float: left;
				color: red;
				cursor: pointer;
			}
			.help ul .help-2 a{
				padding-left:10px;
				
			}
			
			#wrap-content{
				width: 100%;
				height: 560px;
				position: relative;
				/*display: inline-block;*/
				border-top:1px solid black ;
				/*overflow: hidden;*/
			}
			.content{
				width: 100%;
				height: 560px;
				position: absolute;
				overflow: hidden;
			}
			.bg{
				width: 100%;
				height: 560px;
				background: url(../img/login/login_bg.gif);
			}
			.wrap-content{
				height: 490px;
				width: 969px;
				margin: 0 auto;
				border: 7px solid #d7d7d7;
				position: relative;
				margin-top:24px ;
				background: #fff;
			}
			.wrap-content-left{
				height: 490px;
				width: 599px;
				border-right: 1px solid #d7d7d7;
				
			}
			.wrap-content-left2{
				height: 490px;
				width: 1200px;
				border-right: 1px solid #d7d7d7;
				position: absolute;
			}
			.wrap-content-left1{
				height: 490px;
				width: 599px;
				border-right: 1px solid #d7d7d7;
				overflow: hidden;
				position: relative;
			}
			.wrap-content-left .zhuce {
				margin: 0 auto;
				overflow: hidden;
				width: 517px;
				background: url(../img/login/boder1_03.gif) no-repeat 242px 32px;
			}
			.wrap-content-left .zhuce li{
				height:83px ;
				line-height: 83px;
				padding: 0 90px;
				float: left;
				border-bottom:1px solid #dddddd ;
				cursor: pointer;
			}
			.wrap-content-left .zhuce li i{
				margin-right: 7px;
				color: #969696;
			}
			.wrap-content-left .zhuce li span{
				color: #969696;
			}
			
			
			
			.wrap-content-left .zhuce1{
				/*border: 1px solid #c5c5c5;*/
				width: 352px;
				margin: 0 auto;
				overflow: hidden;
			}
			.wrap-content-left .zhuce1 li{
				overflow: hidden;
				border: 1px solid #C5C5C5;
				margin: 13px 0;
				position: relative;
			}
			.wrap-content-left .zhuce1 li span{
				height:52px ;
				width: 88px;
				display: inline-block;
				float: left;
				/*border-right:1px solid #c5c5c5 ;*/
				line-height: 52px;
				text-align: center;
				color: #969696;
			}
			.wrap-content-left .zhuce1 p{
				color: red;
				position: absolute;
				right:20px;
				top: 20px;
				display: none;
			}
			.wrap-content-left .zhuce1  li input{
				background: none;
				outline: none;
				width: 261px;
				height: 50px;
				border: none;
				float: left;
				text-indent: 12px;
			}
			.code{
				margin-top:13px;
				width: 90px ;
				height:52px;
				border:1px solid #c5c5c5; 
				display: inline-block;
				line-height: 52px;
				text-align: center;
				cursor: pointer;
				color: #969696;
			}
			button{
				background: none;
				height: 53px;
				width: 350px;
				background: #fe0a2e;
				border: none;
				margin: 0 auto;
				display: block;
				font-size:14px ;
				color: #fff;
			}
			
			.wrap-content-right{
				width: 332px;
				height: 404px;
				padding: 86px 0 0 36px;
			}
			.wrap-content-right img{
				height: 356px;
				width: 303px;
				cursor: pointer;
			}
			#footer{
				height: 43px;
				width: 100%;
				background: #f2f2f2;
				padding-top:90px ;
				
			}
			#footer ul{
				overflow: hidden;
				width: 450px;
				margin: 0 auto 0;
			}
			#footer ul li{
				float: left;
				padding: 0 13px 0 12px;
				border-right:1px solid black ;
			}
			#footer p{
				width: 512px;
				margin: 10px auto 0;
			}