 
 
 
 	.fl{
 		float: left;
 	}
 	.fr{
 		float:right;
 	}
 	
 			#wrap-head{
				width: 100%;
				height: 30px;
				background: #f7f7f7;
				margin-bottom:1px ;
			}
 			.head{
				width: 994px;
				min-height: 21px;
				margin: 0 auto;
				padding: 9px 0 0 6px;
			}
			.attent{
				width: 90px;
				text-align: center;
				cursor: pointer;
				height: 20px;
				position: relative;
			}
			.attent i{
				transition: 1s;
				transform:scale(1) rotate(0) ;
				display: block;
				
			}
			.attent img{
				position: absolute;
				top: 30px;
				z-index: 2;
				left:-7px;
				display: none;
			}
			.attent:hover i{
				color: red;
				transform:scale(1) rotate(180deg);
			}
			.head ul{
				margin-right: 23px;
				/*position: relative;*/
				
			}
			.kehu{
				position: absolute;
				display: inline-block;
				width:70px ;
				height:12px ;
				background: #f7f7f7;
				z-index: 100;
				left: 38px;
				cursor: pointer;
				color: red;
				display: none;
			}
			.head ul li{
				float: left;
				padding: 0 21px 0 20px;
				border-right: 1px solid #ddd;
				overflow: hidden;
				height: 15px;
			}
			.head li div{
				margin-bottom: 10px;
				text-align: center;
			}
			.head a{
				cursor: pointer;
				color: #656565;
			}
			.head span{
				margin-right: 5px;
			}
			.head p{
				float: right;
				color: red;
				font-size: 16px;
				font-weight: bold;
			}
			#footer{
				height: 205px;
				width: 1200px;
				margin: 0 auto;
			}
			#footer .guarantee{
				height: 84px;
				width: 1117px;
				background:url(../img/homePage/baozheng_06.jpg) ;
				margin: 0 auto;
			}
			#footer p{
				height: 12px;
				width: 550px;
				text-align: center;
				margin: 0 auto 18px;
			}
			#footer .sertion{
				height:48px ;
				width:350px;
				background: url(../img/homePage/aut_06.jpg);
				margin: 0 auto;
			}
			.parnner{
				height: 20px;
				width: 500px;
				margin: 5px auto;
				overflow: hidden;
				margin-bottom: 18px;
				position: relative;
			}
			.parnner-1{
				width:500px;
				height:24px;
				position: absolute;
				top: 0;
			}
			.parnner ul{
				width: 500px;
				height: 20px;
				text-align: center;
			}
			.parnner li{
				display: inline-block;
				padding: 0 4px 0 5px;
				border-right:1px solid black ;	
			}
 	#list{
 		width: 900px;
 		overflow: hidden;
 		margin: 0 auto;
 		margin-top:23px ;
 		border:1px solid #eaeaea;
 		padding-bottom: 22px;
 	}
 	#list ul{
 		float: left;
 		border-right:1px dashed #eaeaea ;
 		margin: 8px;
 		margin-left: 0;
 		padding-right: 8px;
 	}
 	#list ul.last{
 		border: none;
 	}
 	#list li{
 		text-align: center;
 		line-height: 19px;
 		cursor: pointer;
 	}
 	#list li.last{
 		padding: 5px 5px;
 		border: 1px solid #eaeaea;
 	}
 	#list .p{
 		border-bottom:1px solid #eaeaea ;
 		background:#f8f8f8 ;
 		height:33px ;
 		line-height:33px ;
 		text-indent:13px ;
 		font-size:16px ;
 		font-weight: bold;
 		color: #999;
 	}
 	.myCar{
 		width: 900px;
 		margin: 30px auto 0;
 		line-height: 22px;
 		font-size: 18px;
 	}
 	.myCar span{
 		font-size: 12px;
 		color: red;
 	}
 	#Cart{
 		line-height: 24px; 
 		font-size: 12px;   
 		border: 1px solid #eaeaea;
        border-top: 1px solid #c90809;
        width: 842px;
        margin: 0 auto ;
        padding:0 0 10px 58px;
 	}
 	td{
 		width:200px;
 		heigh:60px;
 		line-height: 60px;
 		border-bottom:1px dashed #eaeaea ;
 	}
 	#Info{
 		width: 862px;
 		margin: 0 auto;
 		overflow: hidden;
 		padding: 10px 18px 14px 20px;
 		border: 1px solid #eaeaea;
 		border-top: 0;
 		text-align: center;
 	}
 	#Info input{
 		background: none;
 		border: none;
 		margin-top:20px ;
 		cursor: pointer;
 		color: red;
 		outline: none;
 	}
